@{
    ViewData["Title"] = "Moive Ticket";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
   
                  <div class="container">
                             <a class="navbar-brand" href="#">
                                 <div class="navbar bg-primary" data-bs-theme="dark"></div>
                                  <nav class="navbar bg-body-tertiary">
                            
                      </button>